@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext);

body {
	font-family: arial, sans-serif;
	counter-reset: chapter;
}

code, pre {
	font-weight: bold;
	font-family: inconsolata, monospace;
	color: black;
}

li {
	line-height: 175%;
}

li li {
	font-size: 90%;
}

p, pre {
	line-height: 150%;
}

li td {
	line-height: 100%;
}

pre {
	background-color: #e0e0e0;
	border-radius: 16px;
	padding: 0.5em;
}

.slide.chapter {
	counter-increment: chapter;
	counter-reset: slide;
}

.slide h2:before {
	content: counter(chapter) "." counter(slide);
	margin-right: 0.5em;
}

.slide.chapter h2:before {
	content: counter(chapter);
}

.slide:nth-of-type(1) h2:before, .slide:nth-of-type(2) h2:before, .slide:last-of-type h2:before {
	content: none;
}

@media screen {
	body {
		color: #3c3c3c;
	}

	code, pre {
		text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
	}

	footer {
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		line-height: 45px;
		font-size: 80%;
		color: white;
		background-color: rgb(186, 13, 32);
	}

	footer span {
		font-family: inconsolata, monospace;
		font-size: 120%;
	}

	footer a {
		color: #fff;
		text-decoration: none;
		-webkit-transition: opacity 1s;
		-moz-transition: opacity 1s;
		-o-transition: opacity 1s;
		transition: opacity 1s;
	}

	footer a:nth-of-type(2n+1) {
		float: right;
		margin-right: 2.5em;
	}

	footer a:nth-of-type(2n) {
		float: left;
		margin-left: 2.5em;
	}

	.slide {
		z-index: 1;
	}

	.slide.current:nth-of-type(1) ~ footer > *, .slide.chapter.current ~ footer > * {
		opacity: 0;
	}

	.slide:first-of-type img:nth-of-type(1) {
		position: absolute;
		bottom: 45px;
		left: 0px;
		height: 14em;
	}

	.slide:first-of-type img:nth-of-type(2) {
		position: absolute;
		bottom: 90px;
		right: 45px;
	}

	.slide:last-of-type:after {
		width: 100%;
		height: 330px;
		position: absolute;
		right: 0;
		top: 10%;
		background: url(seznam2.png) 50% 50% no-repeat;
		content: "";
	}
	
	.slide:last-of-type p {
		position: absolute;
		left: 0;
		bottom: 45px;
	}

	.slide > * {
		margin-left: 2em;
		margin-right: 2em;
	}
	
	.slide > img { 
		margin: 0;
	}
	
	.slide ul, .slide ol {
		padding-left: 1.1em;
	}

	.slide h2 {
		font-size: 200%;
		margin: 0.7em 1em;
		color: rgb(186, 13, 32);
	}
	
	.slide:first-of-type h2, .slide.chapter h2 {
		font-size: 300%;
		margin: 0.5em 0.667em 0.3em;
	}

	.slide h3 {
		color: black;
		font-size: 125%;
		margin: 1.2em 1.6em;
	}
	
	.slide.chapter {
		background-color: rgb(186, 13, 32);
	}
	
	.slide.chapter h2 {
		color: white;
		position: relative;
		z-index: 2;
	}
	
	.slide.chapter img {
		position: absolute;
		right: 0px;
		bottom: 0px;
		height: 20em;
		z-index: 1;
	}

	.slide .section.after {
		opacity: 0.1;
	}

	.overview .section.after {
		opacity: 1;
	}

	.overview .slide {
		border: 1px solid black;
		border-radius: 20px;
	}
	
	.overview .slide h2 {
		border-radius: 10px 10px 0px 0px;
	}

	.overview .slide:after {
		font-size: 800%;
		position: absolute;
		right: 2%;
		bottom: 0px;
		font-weight: bold;
		color: gray;
	}

	.overview .slide.current, .overview .slide:hover {
		background-color: #eee;
	}
	
	.overview .slide:after {
		content: counter(chapter) "." counter(slide);
	}

	.overview .slide.chapter:after {
		content: counter(chapter);
	}

	.overview .slide:nth-of-type(1):after, .overview .slide:nth-of-type(2):after, .overview .slide:last-of-type:after {
		content: none;
	}
	
}
