body > *:not(#remote):not(#firebase) {
	display: none;
}

#remote button {
	margin: 3vh auto;
	display: block;
	width: 94vw;
	font-size: 20vh;
	cursor: pointer;
}

#remote button span {
	display: block;
	font-size: 50%;
}

#remote button:first-of-type {
	height: 60vh;
}

#remote button:last-of-type {
	height: 30vh;
}
