@media screen {
	.slide {
		-webkit-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
 		transform: translate(0, 0);
	}

	.overview footer {
		display: none;
	}

	.overview .slide {
		cursor: pointer;
	}
}
