.keyword {
	color: #33a;
}

.number {
	color: #a33;
}

.string, .string * {
	color: #555;
}

.comment, .comment * {
	color: #282;
}

.line-counter {
	float: left;
	opacity: 0.7;
	text-align: right;
}

.line-counter div::after {
	content: ". ";
}
