@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext);

body {
	font-family: arial, sans-serif;
}

code {
	font-weight: bold;
	font-family: inconsolata, monospace;
	color: black;
}

li {
	line-height: 175%;
}

li li {
	font-size: 90%;
}

p {
	line-height: 150%;
}

li td {
	line-height: 100%;
}

code.block {
	background-color: #e0e0e0;
	border-radius: 16px;
	padding: 0.5em;
	line-height: 150%;
	margin-bottom: 0.5em;
}

#progress, #time {
	display: none;
}

@media screen {
	body {
		color: #3c3c3c;
	}

	code {
		text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
	}

	footer {
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		line-height: 1.8em;
		font-size: 80%;
		color: white;
		background-color: rgb(186, 13, 32);
	}

	footer span {
		font-family: inconsolata, monospace;
		font-size: 120%;
	}

	footer a {
		color: #fff;
		text-decoration: none;
		-webkit-transition: opacity 1s;
		-moz-transition: opacity 1s;
		-o-transition: opacity 1s;
		transition: opacity 1s;
	}

	footer a:nth-of-type(2n) {
		float: left;
		margin-left: 2rem;
	}

	footer a:nth-of-type(2n+1) {
		float: right;
		margin-right: 2rem;
	}

	/* empty footer on chapters and first slide */
	.slide.current:nth-of-type(1) ~ footer > *, .slide.chapter.current ~ footer > * {
		opacity: 0;
	}

	/* stuff on first/last slides */

	.slide:first-of-type img:nth-of-type(1) {
		position: absolute;
		bottom: 45px;
		left: 0px;
		height: 14em;
	}

	.slide:first-of-type img:nth-of-type(2) {
		position: absolute;
		bottom: 90px;
		right: 45px;
	}

	.slide:last-of-type::before {
		width: 100%;
		height: 330px;
		position: absolute;
		right: 0;
		top: 10%;
		background: url(seznam2.png) 50% 50% no-repeat;
		content: "";
	}
	
	.slide:last-of-type p {
		position: absolute;
		left: 0;
		bottom: 45px;
	}

	/* stuff on common slides */

	.slide > * {
		margin-left: 2rem;
		margin-right: 2rem;
	}
	
	.slide > img { 
		margin: 0;
	}
	
	.slide ul, .slide ol {
		padding-left: 1.1rem;
	}

	.slide h2 {
		font-size: 200%;
		margin-top: 1.5rem;
		margin-bottom: 1rem;
		color: rgb(186, 13, 32);
	}
	
	.slide:first-of-type h2, .slide.chapter h2 {
		font-size: 300%;
	}

	.slide h3 {
		color: black;
		font-size: 125%;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	
	.slide .section.after {
		opacity: 0.1;
	}

	/* chapter slides */

	.slide.chapter {
		background-color: rgb(186, 13, 32);
	}
	
	.slide.chapter h2 {
		color: white;
		position: relative;
		z-index: 2;
	}
	
	.slide.chapter img {
		position: absolute;
		right: 0px;
		bottom: 0px;
		height: 20em;
		z-index: 1;
	}

	/* overview modifications */

	.overview .section.after {
		opacity: 1;
	}

	.overview .slide {
		border: 1px solid black;
		border-radius: 20px;
	}
	
	.overview .slide::after {
		font-size: 800%;
		position: absolute;
		right: 2%;
		bottom: 0px;
		font-weight: bold;
		color: gray;
	}

	.overview .slide.current, .overview .slide:hover {
		background-color: #eee;
	}
}
