@media screen {
	.slide {
		transition: opacity 500ms;
		-o-transition: opacity 500ms;
		-ms-transition: opacity 500ms;
		-moz-transition: opacity 500ms;
		-webkit-transition: opacity 500ms;
	}

	.slide:not(.current) {
		opacity: 0;
	}

	.overview .slide {
		opacity: 1;
	}
}
