@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700|Ubuntu+Mono:400,700&subset=latin,latin-ext);

body {
	font-family: ubuntu, sans-serif;
}

code {
	font-weight: bold;
	font-family: ubuntu mono, monospace;
}

li {
	line-height: 175%;
}

li li {
	font-size: 90%;
}

p, code.block {
	line-height: 150%;
}

img {
	vertical-align: middle;
}

table {
	border-collapse: collapse;
}

thead {
	font-weight: bold;
}

td, th {
	border: 1px solid #231F20;
	text-align: center;
	padding: 0.2em 0.4em;
}

#help td {
	border: none;
}

@media screen {
	code.block {
		background-color: #e0e0e0;
		border-radius: 16px;
		padding: 0.5em;
	}
	
	footer {
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		line-height: 45px;
		font-size: 80%;
		color: white;
		background-color: rgb(0, 99, 168);
	}
	
	footer a {
		font-family: ubuntu mono, monospace;
		color: #fff;
		text-decoration: none;
		transition: opacity 1s;
	}

	footer a:nth-of-type(2n+1) {
		float: right;
		margin-right: 2.5em;
	}

	footer a:nth-of-type(2n) {
		float: left;
		margin-left: 2.5em;
	}

	footer:after {
		content: url(cvut.png);
		position: absolute;
		right: 20px;
		bottom: 45px;
	}

	#progress {
		position: fixed;
		left: 0;
		bottom: 0;
		height: 3px;
		background-color: #fff;
		-webkit-transition: all 1s;
		-moz-transition: all 1s;
		-o-transition: all 1s;
		transition: all 1s;
		box-shadow: 0 0 2px 1px #fff;
	}

	.slide:last-of-type:after {
		width: 100%;
		height: 330px;
		position: absolute;
		right: 0;
		bottom: 45px;
		background: url(question-mark.jpg) 50% 50% no-repeat;
		content: ""
	}
	
	.slide > * {
		margin-left: 2em;
		margin-right: 2em;
	}

	.slide h2 {
		font-size: 160%;
		background-color: #231F20;
		padding: 0.3em 1.25em;
		margin: 0;
		margin-bottom: 0.65em;
		color: #fff;
	}
	
	.slide h3 {
		font-size: 125%;
		margin: 0.8em 1.6em;
	}

	.slide ul {
		padding-left: 0.85em;
	}

	.slide ol {
		padding-left: 1.4em;
	}

	.slide .section.after {
		opacity: 0.1;
	}

	.overview .section.after {
		opacity: 1;
	}

	.line-counter {
		opacity: 0.3 !important;
	}
}

@media (max-width: 580px) {
	html {
		font-size: 67%;
	}

	footer a:nth-of-type(2n+1) {
		display: none;
	}
}
