@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900|Inconsolata:400,700&subset=latin,latin-ext);

body {
	font-family: lato, sans-serif;
}

code {
	font-weight: bold;
	font-family: inconsolata, monospace;
}

li {
	padding-top: 0.5rem;
}

@media screen {
	body {
		background-color: #DBCEBB;
		color: #100900;
		font-weight: 300;
	}

	.slide h2 {
		font-weight: 900;
		color: #B59354;
		margin: 0;
		padding: 1rem;
		background-color: #61301D;
	}

	.slide h2 ~ * {
		margin-left: 1rem;
	}

	#progress, #time {
		position: fixed;
		background-color: rgba(255, 255, 255, 0.5);
		height: 15px;
		-webkit-transition: width 500ms;
		-moz-transition: width 500ms;
		-ms-transition: width 500ms;
		-o-transition: width 500ms;
		transition: width 500ms;
	}

	#time {
		bottom: 0;
		right: 0;
	}

	#time:before {
		content: "";
		display: block;
		height: 100%;
		background-color: rgba(240, 0, 0, 0.7);
		width: 5px;
	}

	#progress {
		bottom: 15px;
		left: 0;
		color: transparent;
	}

	#progress:after {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		background-color: rgba(30, 30, 240, 0.7);
		width: 5px;
	}
}
